@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(245, 82, 82, 0.2), rgba(179, 180, 176, 0.5)),
    url("../public/bg5.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #717070;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363434;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d5c5c;
}
